body {
background-image: url(background-image.avif);

}

@font-face {
    font-family: 'tech';
    src: url(origin_tech/OriginTech\ personal\ use.otf)format('truetype');
}

header {
    text-align: center;
    font-size: large;
    font-family:'tech';
    margin: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 2px gray;
    background: linear-gradient(to right,rgb(99, 99, 207) ,rgba(153, 205, 50, 0.877));

}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }

div {
    
    text-align: left;
   background-color: rgba(122, 122, 192, 0.973);
    margin: 10px;
    color: rgb(14, 2, 2);
    font-family:'tech';
    border-radius: 8px;
    box-shadow: 1px 3px 3px gray;
    
}

p{
    font-weight: 400;
    color: rgb(241, 241, 240);
}



a{
    color: rgb(99, 49, 49);
    
}

a:hover{
    color: red;
}

    img{
        width: 70px;
        height: 70px;
        border-radius: 10px;
        margin: auto;
        position: relative;
        padding: 1px;
    }

footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(95, 158, 160, 0.856);
    }

   